.visualizer {
    padding: 0 5px;
}
.page {
    border: 1px solid silver;
    margin: 0 0 5px;
    /* display: inline-block; */
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 12px;
    color: black;
    min-width: 150px;
}
.label {
    padding: 10px;
}
.notNeeded {
    opacity: 0.5;
}
.currentPage {
    border-color: black;
    background-color: rgb(240, 240, 240);
}
