@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    html {
        --background: #eeeeee;
        filter: invert(100%) hue-rotate(180deg);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Helvetica, Arial, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
